*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title.error,#author.error,#pages.error,#read.error{
    border: 1px solid red;
    background-color: #ffcccc;
}
#title.success,#author.success,#pages.success,#read.success{
    border: 1px solid green;
    background-color: #ccffcc;
}


.fade-out {
    opacity: 0;
    transition: all 0.5s ease-out;
    transform: translateY(100px);
  }

  .fade-in {
    opacity: 0;
    transform: translateY(100px);
  }
  
  .fade-in.visible {
    opacity: 1;
    transition: all 0.5s ease-in;
    transform: translateY(0);
  }
  